@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b2d7f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Pretendard-Light";
  font-weight: 300;
  src: url("/fonts/Pretendard-Light.ttf");
}

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: 400;
  src: url("/fonts/Pretendard-Regular.ttf");
}

@font-face {
  font-family: "Pretendard-Bold";
  font-weight: 700;
  src: url("/fonts/Pretendard-Bold.ttf");
}

.Pretendard-Light {
  font-family: "Pretendard-Light";
}

.Pretendard-Bold {
  font-family: "Pretendard-Bold";
}

.Pretendard-Regular {
  font-family: "Pretendard-Regular";
}

body {
  width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard-Regular", "Pretendard-Bold", "Pretendard-Light";
}

.wrapper {
  width: 100%;
  max-width: 393px;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

nav {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 393px;
  margin-left: -196.5px;
  height: 60px;
  background-color: #703333;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.shake-animation {
  display: inline-block;
  animation: shake 0.5s ease-in-out;
}

/* Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
